{% if menuitems.menus %}
{% for menu in menuitems.menus %}
<section>
    
    <h1>{{menu.name}}</h1>

    {% for category in menu.categories %}
        <h2>{{category.name}}</h2>

        {% if category.description %}
            <p>{{category.description}}</p>
        {% endif %}

        {% if category.notes %}
            {% for note in category.notes %}
                <p>{{note.note}}</p>
            {% endfor %}
        {% endif %}
        <section class="meals">
            {% for meal in category.meals %}
                <div class="meal"><h3>{{meal.name}}</h3><div>{% price meal.price %}</div>
                {% if meal.desc %}
                    <p>{{meal.desc}}</p>
                {% endif %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</section>
{% endfor %}
{% endif %}
